@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&family=Sacramento&display=swap');
.completedPage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #2B2D42;
    padding-top: 7%;
    padding-bottom: 7%;
}

.completedTitle {
    display: flex;
    justify-content: center;
    font-family: 'Reem Kufi', sans-serif;
    color: #F1FFE7;
    padding-bottom: 3%;
    font-size: 250%;
}

.completedSub {
    display: flex;
    justify-content: center;
    font-family: 'Reem Kufi', sans-serif;
    color: #F1FFE7;
    padding-bottom: 3%;
    font-size: 150%;
}

.backHome {
    display: flex;
    justify-content: center;
}