@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&family=Sacramento&display=swap');
.footerBody {
    background-color: #F1FFE7;
    padding-top: 2%;
    padding-bottom: 4%;
}

.footerContent {
    display: flex;
    flex-direction: column;
}

.footTitle {
    display: flex;
    justify-content: center;
    padding: 1.5%;
    font-family: 'Reem Kufi', sans-serif;
    font-size: 200%;
}

.social {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.jLogo {
    width: 64px;
    height: 64px;
}

.accordBody {
    background-color: #F1FFE7;
}

.toggleTitle {
    display: flex;
    justify-content: center;
}