@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&family=Sacramento&display=swap');
.paymentPage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #2B2D42;
    padding-top: 5%;
    padding-bottom: 5%;
}

.paymentTitle {
    display: flex;
    justify-content: center;
    font-family: 'Reem Kufi', sans-serif;
    color: #F1FFE7;
    padding-bottom: 3%;
    font-size: 250%;
}

.infoTitle {
    font-size: 150%;
    color: red;
    font-family: 'Reem Kufi', sans-serif;
}